*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--primary);
}
.main {
    width: 100%;
}
.nav-main{
   width: 100%;
   padding: 2%;
   background-color: var(--secondary);
}
.nav-main ul{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-main li{
    list-style: none;
    display: inline;
}
.nav-link a{
    text-decoration: none;
    padding: 2%;
    color: var(--quaternary);
    font-weight: bold;
}
a:hover {
    color: rgb(201, 201, 218);
    background-color: var(--teritary);
    border-radius: 12px;
    transition: 0.25s;
    border-color: var(--primary);
    text-transform: uppercase;
}
li :active {
    color: rgb(201, 201, 218);
    background-color: var(--teritary);
    border-radius: 12px;
}
.active {
    color: rgb(201, 201, 218);
    background-color: var(--teritary);
    border-radius: 12px;
}

/* content page text char*/
.main-txt {
    width: 80%;
    font-family: var(--txtfont);
    color: var(--secondary);
    padding-top: 3%;
    padding-inline: 30%;
}
p {
   width: 60%; 
   text-align: center;
}
.heading {
    font-weight: bold;
    font-family: var(--txtfont);
    padding-bottom: 2%;
    
}
form {
    width: 60%;
    align-items: center;
    padding-inline: 20%;
    padding-top: 5%;
    font-family: var(--txtfont);
    font-size: 14px;
}
img {
    opacity: 0.4;
}