
.main-txt {
    width: 80%;
    font-family: var(--txtfont);
    color: var(--secondary);
    padding-top: 3%;
    padding-inline: 30%;
    background-color: var(--s);
    
}
.pgtxt {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 15px;
    padding: 2%;
    align-items: center;
}
.heading {
    font-weight: bold;
    font-family: var(--txtfont);
    color: var(--primary);
    align-items: center;
    padding: 2%;
    background-color: var(--secondary);
    border-radius: 15px;
}
form {
    width: 60%;
    align-items: center;
    padding-inline: 20%;
    padding-top: 5%;
    font-family: var(--txtfont);
    font-size: 14px;
}
.form-wrapper {
    color: var(--secondary);
}
p {
    width: 60%; 
    text-align: center;
 }
a {
    padding: 2%;
    color: rgb(15, 39, 71);
    text-decoration: none;
    text-transform: lowercase;
}
a-image{ 
    size: 3px;
}