
.main-txt {
    width: 80%;
    font-family: var(--txtfont);
    color: var(--secondary);
    padding-top: 3%;
    padding-inline: 30%;
    background-color: var(--s);
    
}
.pgtxt {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 15px;
    padding: 2%;
    align-items: center;
}
.heading {
    font-weight: bold;
    font-family: var(--txtfont);
    color: var(--primary);
    align-items: center;
    padding: 2%;
    background-color: var(--secondary);
    border-radius: 15px;
}
form {
    width: 60%;
    align-items: center;
    padding-inline: 20%;
    padding-top: 10%;
    font-family: var(--txtfont);
    font-size: 14px;
}
.form-wrapper {
    color: var(--secondary);
}
p {
    width: 60%; 
    text-align: center;
 }
 p :hover{
    border: solid;
    border-color:blueviolet;
 }
a {
    padding: 5%;
    color: rgb(15, 39, 71);
    text-decoration: none;
    text-transform: lowercase;
    background-color: var(--secondary);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    display: inline;
    border-radius: 40px;
    border: solid;
    border-color: rgb(52, 50, 87);
}
.flex-container {
    align-items:center;
    display:flex;
    padding: 2%;
    
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }